.contactForm-container{
    .contact-heading-row{
        h2{
            text-align: center;
            background-color: #DA0037;
            color: white;
        }
    }
    .contactForm-row{
        .contact-image-col{
            
            .contact-image{
                width: 400px;
            }
        }
        .form-col{

        }
    }
}

@media screen and (max-width: 600px) {
    .contactForm-container{
        .contact-heading-row{
            h2{

            }
        }
        .contactForm-row{
            .contact-image-col{
                
                .contact-image{
                    width: 300px;
                }
            }
            .form-col{
    
            }
        }
    }
}