.contactForm-container{
    .contact-heading-row{
        h2{
            text-align: center;
            background-color: #DA0037;
            color: white;
        }
    }
    .contactForm-row{
        .contact-image-col{
            
            .contact-image{
                width: 400px;
            }
        }
        .form-col{

        }
    }
}