.profile-container{
    background-color: #e7decc;
    border: 1px solid #333333;
    border-radius: 20px;
    padding: 1px;
    margin-top: 1%;
    margin-bottom: 1%;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0px 0px 20px black;
    width: 100%;

    .card-Container{    
        background-color: #FBFAF2;
        border: 1px solid #333333;
        margin: 2px;
        padding: 5%;
        border-radius: 20px;
        height: 95%;

        .userData-Card{
            margin-top: 1%;

            .userDetails-container{
                display: flex;
                border: 1px solid #333333;
                padding: 2px;
                width: 1vh;
                
                .profile-pic-container{
                    border: 2px solid #333333;
                    border-radius: 8px;
                    margin-right: 5%;
                    padding: 1px;

                    .profile-img{
                        border-radius: 8px;
                        width: 80px;
                        height: 100%;
                    }
                }
        
                table{
                    tr{
                        td{
                            border: 1px solid #333333;
                            background-color: #fff;
                            padding: 1px;
                            border-radius: 5px;
                        }
                    }
                }
            }

            .attendence-container{
                margin-top: 10%;
                table{
                    background-color: wheat;
                    
                    border-collapse: collapse;
                    padding: 1px;
                    tr{
                        th{
                            border: 1px solid #333333;
                            padding: 1px;                        
                        }

                        td{
                            border: 1px solid #333333;
                            padding: 2.5px;
                        }
                    }
                }
            }

            .test-series-container{
                margin-top: 10%;
                table{
                    background-color: darkgray;
                    
                    border-collapse: collapse;
                    padding: 5px;
                    tr{
                        th{
                            border: 1px solid #333333;
                            padding: 5px;                        
                        }

                        td{
                            border: 1px solid #333333;
                            padding: 5px;

                            a{
                                text-decoration: none;
                                color: inherit;
                            }
                        }
                    }
                }
            }
        }
    }
}    

@media screen and (min-width: 600px) {
    .profile-container{
        background-color: #e7decc;
        border: 1px solid #333333;
        border-radius: 20px;
        padding: 5px;
        margin-top: 1%;
        margin-bottom: 1%;
        -webkit-box-shadow: 0 0 10px #fff;
        box-shadow: 0px 0px 20px black;
        width: 90vh;
    
        .card-Container{    
            background-color: #FBFAF2;
            border: 1px solid #333333;
            margin: 10px;
            padding: 5%;
            border-radius: 20px;
            height: 95%;
    
            .userData-Card{
                margin-top: 5%;
                
                .userDetails-container{
                    display: flex;
                    border: 1px solid #333333;
                    padding: 20px;
                    width: 100%;
                    
                    .profile-pic-container{
                        border: 2px solid #333333;
                        border-radius: 8px;
                        margin-right: 5%;
                        padding: 2px;
    
                        .profile-img{
                            border-radius: 8px;
                            width: 100px;
                            height: 100%;
                        }
                    }
            
                    table{
                        tr{
                            td{
                                border: 1px solid #333333;
                                background-color: #fff;
                                padding: 5px;
                                border-radius: 5px;
                            }
                        }
                    }
                }
    
                .attendence-container{
                    margin-top: 10%;
                    table{
                        background-color: wheat;
                        
                        border-collapse: collapse;
                        padding: 5px;
                        tr{
                            th{
                                border: 1px solid #333333;
                                padding: 5px;                        
                            }
    
                            td{
                                border: 1px solid #333333;
                                padding: 5px;
                            }
                        }
                    }
                }
    
                .test-series-container{
                    margin-top: 10%;
                    table{
                        background-color: darkgray;
                        
                        border-collapse: collapse;
                        padding: 5px;
                        tr{
                            th{
                                border: 1px solid #333333;
                                padding: 5px;                        
                            }
    
                            td{
                                border: 1px solid #333333;
                                padding: 5px;
    
                                a{
                                    text-decoration: none;
                                    color: inherit;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}